


<div id="roommate-form">
  <div class="col-md-4">
    <h6 class="text-center">Add a Roommate Below</h6>
    <div class="form-container">
      <form action="" id="add-roommate-form" class="center-roommate-form">
        <div class="form-group">
          <label class="control-label" for="create-roommate">Roommate</label>
          <input class="form-control input-style" type="text" name="create-roommate">
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <input id="add-roommate-btn input-style" name="create-roommate" class="btn btn-form-color" type="submit" value="Save">
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="col-md-6 rendered-area">
    <h5>Roommates</h5>
    <ol id="add-roommate">

    </ol>
  </div>
</div>