div(class="col-md-6 each-roommate-expense-js roommate-expense")
  h4= name 
  button(class='btn btn-sm btn-primary remove-roommate-js' id=`${name}`) Remove Roommate
  ol(class="list-group")
      each val in list 
          li(class="list-group-item")= `${val.name}: ${val.roommateAmountDue}`
           
