<div class="expense-table-container">
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Amount</th>
        <th>Due Date</th>
      </tr>
    </thead>
    <tbody id="expense-table">

    </tbody>
  </table>
</div>