<hr class="style-four each-roommate-expense-js">
<h4 class="each-roommate-expense-js">Each Roommates total amount due</h4>
<h5 class="each-roommate-expense-js">*Each expense over $100.00 is evenly divided amongst roommates. Any expense below $100.00 is passed out one at time to each roommate. If there is a difference in overall payment, that difference is made even in the largest amount due by each roommate.
</h5>
<hr class="style-four each-roommate-expense-js">