.roommate-container{
    width: 400px;
    border: 1px solid black;
}

.input-style{
    box-sizing: border-box;
}

.roommate-container{
    display: inline-block;
    text-align: center;
}

.form-container{
    margin: 20px;
    border: 2px solid rgb(228, 228, 228);
    background: rgb(247, 248, 251);
    padding: 20px;
}

.main-header{
    text-align: center;
}

.rendered-area{
    margin-top: 20px;
    text-align: center;
}

.rendered-list{
    margin-bottom: 10px;
    text-align: center;
    list-style-position: inside;
}

.rendered-roommate-btn{
    margin-left: 20px;
}


hr{
    border-top: 2px solid rgb(228, 228, 228);
}

.expense-table-container{
    margin: 20px;
    border: 2px solid rgb(228, 228, 228);
    padding: 20px;
}

