
html,body{
  height: 100%;
}

.landing-page-img-container{
  min-height: 100%;
  height: auto;
  /* z-index: 1; */
  background: linear-gradient(
    rgba(0,0,0,.60), 
    rgba(0,0,0,.60)), 
    url('../../images/fancyHouse.jpeg');
   background-size: cover; 
   background-position: center;     
}

.content-container{
  color: white;
}

.enter-app-container{
  margin-top: 20px;
}