<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Main Page</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
        crossorigin="anonymous">
    <script defer src="/houseStats.js"></script>
</head>

<body>
    <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
    <div class="container">
        <header>
            <div class="row">
                <div class="col-md-4 col-centered">
                    <h3>Here is break down of your monthly shared expenses</h3>
                </div>
            </div>
        </header>
        <!--content area-->
        <div class="row">
            <div class="col-md-6 col-md-offset-4">
                <div class="row expense-summary" id="expense-summary-container">

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-md-offset-4">
                <div class="row" id="main-content-js">

                </div>
            </div>
        </div>
    </div>
</body>

</html>